<div class="col-md-6 offset-md-3">

    <h3 class="mt-4 mb-4">Create Employee</h3>
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label> First Name</label>
        <input type="text" class="form-control" id="firstName"
        [(ngModel)]="employee.firstName" name="firstName">   
    </div>
    <div class="form-group mt-2">
        <label> Last Name</label>
        <input type="text" class="form-control" id="lasttName"
        [(ngModel)]="employee.lastName" name="lasttName">   
    </div>

    <div class="form-group mt-2">
        <label> Email</label>
        <input type="text" class="form-control" id="email"
        [(ngModel)]="employee.email" name="email">   
    </div>

    <button class="btn btn-success mt-2 " type="submit"> Submit </button>
</form>

</div>

